<app-navbar></app-navbar>
<div class="p-4 sm:ml-64 mt-10 flex justify-center">
    <div class="h-2/3 w-full mt-10 flex flex-row flex-1 justify-around">
        <div class="diogs">  
            <div class="font-extrabold text-4xl text-center">Année Scolaire</div>     
            <form class="m-5">
                <div class="mb-6">
                    <label for="annee" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your annee</label>
                    <input type="text" id="annee" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="2020-2021" required>
                </div>
                <button type="button" (click)="ajoutAnnee()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>    
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Libelle
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" *ngFor="let annee of anneess!.data | paginate: { itemsPerPage: 2, currentPage: p }">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{annee.libelle}}
                            </th>
                            <td class="px-6 py-4">
                                <button type="button" class="font-medium text-blue-600 dark:text-blue-500 hover:underline m-2">Edit</button>
                                <button type="button" class="font-medium text-red-600 dark:text-red-500 hover:underline m-2">Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
      
      
        </div>
        <div class="diogs taille">  
            <div class="font-extrabold text-4xl text-center">Planification des classes</div>     
            <form class="m-5">
                <div class="mb-6"> 
                    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
                    <select id="countries" id="selection" (change)="chargerClassePlane($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let annee of anneess?.data" value="{{annee.id}}">{{annee.libelle}}</option>
                    </select>
                </div>
                <div class="flex items-start mb-6 flex-wrap">
                    <div class="flex items-center h-5 m-2" *ngFor="let cla of classePlane?.data">
                        <label for="" class="text-sm font-medium text-gray-900 dark:text-gray-300">{{cla.filiere}} {{cla.niveau}}</label>
                        <input id="{{cla.id}}" type="checkbox" value="" class="clas w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
                    </div>
                </div>
                <button type="button" (click)="planificationClasse()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>
        </div>
    </div>
<div>