<app-attache-nav-bar></app-attache-nav-bar>
<div class="p-4 sm:ml-64 mt-10">
    <h1 class="text-5xl dark:text-white text-center text-red-800 m-10">LES DEMANDES D'ANNULATION</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <!-- <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th> -->
                <th scope="col" class="px-6 py-3">
                    Prenom Nom
                </th>
                <th scope="col" class="px-6 py-3">
                    CLasses
                </th>
                <th scope="col" class="px-6 py-3">
                    Module
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Semestre
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let session of lesDemandes.data" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <!-- <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="" class="sr-only">checkbox</label>
                    </div>
                </td> -->
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{session.cours_id.module_prof_id.professeur.prenom}} {{session.cours_id.module_prof_id.professeur.nom}}
                </th>
                <td class="px-6 py-4">
                    <ul>
                        <li *ngFor="let cl of session.cours_id.classes">{{cl.classe_id.filiere}} {{cl.classe_id.niveau}}</li>
                    </ul>
                </td>
                <td class="px-6 py-4">
                    {{session.cours_id.module_prof_id.module}}
                </td>
                <td class="px-6 py-4">
                    {{session.cours_id.semestre_id.libelle}}
                </td>
                <td class="px-6 py-4">
                    {{session.date}}
                </td>
                <td class="flex items-center px-6 py-4 space-x-3">
                    <button type="button" id="{{session.id}}" (click)="annule($event)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Annuler</button>
                    <button type="button" id="{{session.id}}" (click)="refus($event)" class="font-medium text-red-600 dark:text-red-500 hover:underline">Refuser</button>
                    
                    <!-- <button type="button" id="{{session.id}}" class="font-medium text-red-600 dark:text-red-500 hover:underline"><svg class="w-6 h-6 text-red-800 dark:text-red" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg></button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
